
*.log
*.ipch
*.sdf
*.opensdf
*.suo
*.obj
*.tlog
*.pdb
Libraries/Common.lib
*.pch
*.map
*.exe
/.vs/slnx.sqlite
/.vs
/Common/Release
/ConnectServer/Release
/Game/Release
/LoginServer/Release
/Server_Link/Release
